@if (Content != null)
{
    <div class="card" style="width:25rem;height:auto;padding:5px;margin:5px;">
        <div class="card-body">
            <h5 class="card-title">@Content.Name</h5>
            <p class="card-text">@Content.Description</p>
            @if (Content.ShowPreview)
            {
                <div style="width:80%;height:auto;align-content:strech;">
                    <iframe width="100%" src="@Content.Url" allowfullscreen></iframe>
                </div>
            }
            else
            {
                <p>@Content.Url</p>
            }
            <div class="col-3">
                <a class="btn btn-primary" href="@Content.Url" target="_blank">Öffnen</a>
                <a class="btn btn-secondary" @onclick="() => Edit_Click(Content.ContentId)">Bearbeiten</a>
                <a class="btn btn-danger" @onclick="() => Delete_Click(Content.ContentId)">Löschen</a>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public Content? Content { get; set; }

    [Parameter]
    public EventCallback<int> EditRequest { get; set; }

    [Parameter]
    public EventCallback<int> DeleteRequest { get; set; }

    async void Edit_Click(int id)
    {
        await EditRequest.InvokeAsync(id);
    }

    async void Delete_Click(int id)
    {
        await DeleteRequest.InvokeAsync(id);
    }

}